html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    font-family: sans-serif;
}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    padding: 10px;
    border-radius: 20px;
    width: 320px;
    height: 410px;
    background: #6262B9;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px black;
}

.flex-row {
    display: flex;
    flex: 1;
}

.calc-button {
    border-radius: 20px;
    background: #28284E;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    box-shadow: 3px 3px black;
}

.calc-button:active {
    transform: translateY(4px);
}

.calculator-screen {
    box-shadow: inset 4px 5px 1px #444481;
    margin: 8px;
    padding: 10px;
    border-radius: 20px;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(255, 255, 255, 0.96)
}

.calculator-screen span {
    font-size: 30px;
}

.operator {
    background: #9A8AD6;
    color: black;
    font-weight: bold;
}